@layer components {
  .layout {
    position: relative;
    flex: 1 1 0%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
  }

  .layout.step {
    margin-top: 40px;
  }

  @media (min-width: 768px) {
    .layout {
      display: flex;
      justify-content: center;
      padding-top: 43px;
    }

    .layout.step {
      margin-top: 0px;
    }
  }
}
