@layer components {
  .layout {
    position: relative;
    flex: 1 1 0%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .layout.step {
    margin-top: 40px;
  }

  @media (min-width: 768px) {
    .layout {
      flex-direction: row;
      justify-content: center;
      padding-top: 43px;
      padding-bottom: 43px;
      overflow-y: auto;
    }

    .layout.step {
      margin-top: 0px;
    }
  }
}
