@layer components {
  .highlight {
    font-size: 1rem;
    font-weight: bold;
  }

  .caption {
    font-size: 0.875rem;
  }

  @media (min-width: 768px) {
    .highlight {
      font-size: 1.125rem;
    }
  }
}
