@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gen Jyuu Gothic P';
    src: url('../assets/font/GenJyuuGothic-P.ttf') format('truetype');
  }

  * {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    user-select: none;
  }

  html {
    font-family: Gen Jyuu Gothic P;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-base tracking-wider bg-bg overflow-hidden;
  }

  img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h1 {
    @apply text-[32px] leading-tight font-bold md:text-[56px];
  }

  h2 {
    @apply text-[28px] leading-tight font-bold md:text-[44px];
  }

  h3 {
    @apply text-2xl md:text-[32px] font-bold md:leading-tight;
  }

  h4 {
    @apply text-xl md:text-[28px] font-bold md:leading-tight;
  }

  h5 {
    @apply text-lg font-bold md:text-2xl;
  }
}
