@import 'tailwindcss/components';
@import './text.css';

@layer components {
  .btn {
    @apply min-w-[131px]
    h-[41px]
    py-2
    px-7
    flex
    items-center
    justify-center
    border-2
    border-transparent
    cursor-pointer
    rounded-[50px]
    transition-colors
    gap-2
    highlight
    whitespace-nowrap
    hover:text-primary
    disabled:bg-gray-20
    disabled:border-gray-30
    disabled:text-gray-50
    disabled:hover:text-gray-50
    disabled:hover:bg-gray-20
    disabled:cursor-not-allowed;
    &_base {
      @apply border-gray-50 text-gray-50 hover:text-primary hover:bg-gray-50;
    }
    &_primary {
      @apply bg-secondary border-primary text-primary hover:text-black hover:bg-primary;
      &.active {
        @apply text-black bg-primary;
      }
    }
    &_small {
      @apply transition-colors 
      border
      cursor-pointer
      rounded-2xl
      py-1 
      px-3 
      font-bold 
      text-xs 
      focus:outline-none 
      md:text-base
      md:px-7 
      md:border-2;
    }
  }
}
