@import 'tailwindcss/components';

@layer components {
  .content {
    @apply
    w-full
    h-[calc(100vh-120px)]
    bg-white
    p-3
    shadow-[inset_0px_2px_4px_rgba(135,135,135,0.35),inset_0px_5px_8px_rgba(215,215,215,0.3),inset_0px_-2px_4px_rgba(135,135,135,0.65),inset_0px_-6px_6px_rgba(215,215,215,0.55)]
    relative
    rounded-[20px]
    md:px-7
    md:py-4
    md:w-[75%]
    md:h-[calc(100vh-175px)];
  }
  .toolbar {
    @apply m-4 flex justify-center items-center gap-6;
    li {
      @apply cursor-pointer;
    }
    img {
      @apply w-7 md:w-9;
    }
  }
  .title {
    @apply border-b-2 border-primary py-1 px-4 md:py-4;
  }
}