@import 'tailwindcss/components';
@import './text.css';

@layer components {
  .input {
    @apply w-full
    border-2
    border-gray-20
    rounded-[50px]
    pl-6
    pr-9
    py-[6px]
    transition-colors
    caret-primary
    focus:shadow-primary
    focus:shadow
    focus:border-primary
    focus:outline-primary
    focus:pr-6;
  }
}
