@import 'tailwindcss/components';
@import './text.css';

@layer components {
  .input {
    @apply input-base
    rounded-[50px]
    pl-6
    pr-9
    py-[6px]
    focus:pr-6;
    &-base {
      @apply w-full
      border-2
      transition-colors
      border-gray-20
      caret-primary
      focus:shadow-primary
      focus:shadow
      focus:border-primary
      focus:outline-primary;
    }
    &-password {
      @apply input-base
      max-w-96
      rounded-2xl
      text-sm
      px-3
      py-1
      md:px-4
      md:py-2
      md:rounded-3xl
      md:text-base;
    }
  }
}
