@import 'tailwindcss/components';

@layer components {
  .layout {
    @apply
    pt-14 
    px-[10px]
    md:flex
    md:flex-row
    md:justify-center
    md:pt-[120px]
    md:-translate-x-[40px];
  }
}